{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block pagetitle %}Welcome to Pet Adoption{% endblock %}
{% block content %}
    <div class="sticky-top">
        <a href="/add" class="btn btn-primary">Add Pet</a>
    </div>
    <div class="row">
        <div class="col-2">   
        </div>
        <div class="col-8">
            {% for pet in pets %}
                <div id="div_{{pet.id}}" class="bg-light border" style="margin-bottom:20px">
                    <h2>{{pet.name}}</h2>
                    <img src="{{pet.photo_url}}" class="img-thumbnail" max-height: 50px><br>
                    {% if pet.available %}
                        <p class="text-secondary">{{pet.name}} is <span class="text-success font-weight-bold">Available!</span></p><br>
                    {% endif %}
                    <a href="/edit/{{pet.id}}" class="btn btn-secondary">See Details</a>
                </div>
            {% endfor %}
        </div>
    </div>
    
    
{% endblock %}
